body {
    background-color: black;
}
h1 {
    text-align: center;
    font-size: 200px;
    font-family: 'Bowlby One SC', cursive;
    color: white;
}
h2 {
    text-align: center;
    font-size: 120px;
    font-family: 'Alfa Slab One', cursive;
    transform: rotate(-10deg);
    color: #009688;
    margin-right: 360px;
    margin-top: -80px;
}
#left-body {
    margin-left: 22%
}
.container {
    float: left;
    height: 750px;
    width: 400px;
    border: 5px white dashed;
    margin-top: 50px;
}
img {
    width: 360px;
    margin-left: 20px;
    margin-top: 20px;
}
p {
    text-transform: uppercase;
    line-height: 35px;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color: white;
    font-family: 'Bevan', cursive;
}
.variables{
    text-align: center;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
    color: white;
}
#wins {
    height: 30px;
    width: 400px;
}
#guesses {
    height: 30px;
    width: 400px;
}